<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/jquery3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Homework Template</title>
</head>
<body>
  
    <div class="container-fluid col-sm-12 w-100 bg-secondary text-center">
            <div><p class="text-white" style="font-size: 32px;">WE ARE AN INTERACTIVE AGENCY</p></div><br>
            <div><p class="display-4" style="color:rgb(72, 185, 170)">CREATING HIGH QUALITY IN MEDIA</p></div><br>
            <div class="mx-auto  text-white" style="width:350px; height:250px; background-color: rgb(72,185,170); border:20px solid rgb(54, 70, 67)">
            PLAY CASE STUDY</div>
            <div class="bg-dark mx-auto" style="width:500px; height:50px; border:7px solid rgb(207, 223, 219)"></div><br><br>
            <div style="display:inline-block" class="row">
            <form class="form-group">
                <input class="form-control" type="text" placeholder="Web design"> <br>
                <button class="btn" type="button" style="background-color:  rgb(72,185,170); color:white;">See the works</button>
            </form>
            </div>
     </div>

     <div class="row col-sm-12">
        <div class="col-sm-4"><i class="fa fa-shield"></i></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
     </div>
  
</body>
</html>