<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/jquery3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Web Page</title>
    <style>
      
      
     #red1 div {
         border-top:10px solid white;
        border-left:none;
        border-right: none;
        border-bottom: none;
     }
     #red2 div {
         border:none;
     }
     .row div{
            border: 10px solid white;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="background-color:white">
        <div class="row col-12" style="height:70px">
            <div class="col-4"><b>EN</b></div>
            <div class="col-8">
                <nav class="navbar navbar-dark">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">Features</a>
                    <a class="nav-item nav-link" href="#">Portfolio</a>
                    <a class="nav-item nav-link" href="#">Blog</a>
                    <a class="nav-item nav-link" href="#">Pages</a>
                    <a class="nav-item nav-link" href="#">Shop</a>
                    <a class="nav-item nav-link active" href="#">Elements</a>
                    <a class="nav-item nav-link active" href="#"><i class="fa fa-search"></i></a>
                    <a class="nav-item nav-link active" href="#"><i class="fa fa-arrow-up"></i></a>
                    <a class="nav-item nav-link active" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="nav-item nav-link active" href="#"><i class="fa fa-facebook"></i></a>
                </nav>
            </div>
        </div>
        <div class="row col-12" style="height:150px">
            <div class="col-sm-3" style="background-color: black; color:white; text-align: center; font-size: 20px; font-family: Arial, Helvetica, sans-serif; padding:50px;">The Grid Row</div>
            <div class="col-sm-3" style="background-color: darkgrey; color:white; text-align: center; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding:50px;">
                An element that allows you to build interesting layout grids</div>
            <div class="col-sm-3" style="background-color: lightgrey; color:white; text-align: center; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding:50px;">
                Grid rows are fulwidth elements and you can place any number of rows below each other </div>
            <div class="col-sm-3" style="background-image: url(medias/living.jfif);"></div>
        </div>
        <div class="row col-12" style="height:150px">
            <div class="col-4" style="background-color:lightgrey; color:white; padding:50px; text-align: center; font-size: 12px;">
            You can set background color and image for each cell individually</div>
            <div class="col-4" style="background-image: url(medias/echeresized.jfif); background-repeat: no-repeat;"></div>
            <div class="col-4" style="background-color:darkgrey; color:white; padding:50px; text-align: center; font-size: 12px;">
            A row can hold up to 5 cells that are alligned beside each other </div>
        </div>
        <div class="row col-12" style="height:150px;">
            <div class="col-6" style="background-color:black; color:white; padding:60px; text-align: center; font-size: 12px;">
            Use your imagination when it comes to using this element and you can build really interesting stuff</div>
            <div class="col-6" style="background-color:lightgrey; color:white; padding:60px; text-align: center; font-size: 12px;">
            As seen bellow (the 4 blue bars) you can even use the element for pure styling <br><br>
        <p style="border: 1px solid white; width:300px; text-align:center; margin-left: 120px;">Check out another example of a Grid Page</p></div>
        </div>
        <div class="row col-12" id="red1" style="height:150px;">
            <div class="col-3" style="background-color:rgb(43, 41, 41); color:white; padding:40px; padding-top: 10px; text-align: left; font-size: 12px; ">
                <b>Interesting Links</b><br><br> Lorem ipsum dolor sit amet consecentur adipsicising elit. Aneanen commodo ligula eget golol.</div>
            <div class="col-3" style="background-color:rgb(43, 41, 41); color:white; padding:50px; padding-top: 10px; text-align: left; font-size: 12px;">
            <b>Where to find us</b><br><br> 1818 N Vermont Ave <br> Los Angeles, CA, United States <br><br>
        (555) 774 433 <br> hello@en2017.com</div>
            <div class="col-3" style="background-color:rgb(43, 41, 41); color:white; padding:50px; padding-top: 10px; text-align: left; font-size: 12px;">
            <b>More stuff</b><br><br> Donec pede justo fingilisa vel, aligue nec valieoigha eget agru in emn justo rhoiungs us kjethakttaet</div>
            <div class="col-3" style="background-color:rgb(43, 41, 41); color:white; padding:50px; padding-top: 10px; text-align: left; font-size: 12px;">
            <b>Our Office Hours</b><br><br> Mo-Fr: 08:00-19:00 <br> Sa: 08:00-14:00 <br> Su:closed</div>
        </div>
        <div class="row col-12" id="red2" style="height:70px">
            <div class="col-6" style="background-color:black; color:white; text-align: left; font-size: 10px; padding-top: 20px;">Copyright</div>
            <div class="col-6"style="background-color:black; color:white; text-align: right; font-size: 10px; padding-top: 20px;">Terms of service   Legal notice</div>
        </div>
    </div>
</body>
</html>