<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/jquery3.5.1.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/popper.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Template</title>
</head>
<body>
    <div class="w-100">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active bg-danger" style="height:200px;">
              <p class="text-center text-white h1">REVIEWS</p>
            <!-- <img src="la.jpg" alt="Los Angeles"> -->
          </div>
          <div class="carousel-item bg-danger">
            <!-- <img src="chicago.jpg" alt="Chicago"> -->
          </div>
          <div class="carousel-item bg-danger">
            <!-- <img src="ny.jpg" alt="New York"> -->
          </div>
          <div class="carousel-item bg-danger">
            <!-- <img src="ny.jpg" alt="New York"> -->
          </div>
          <div class="carousel-item bg-danger">
            <!-- <img src="ny.jpg" alt="New York"> -->
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
      </div>


      <div class="col-sm-12 text-center">
         <h1>BLOG</h1><br>
         <p class="text-dark">Quia dolor sit ame consectetur adipisci velit sed quia nom numqam lorem dolor</p><br><hr>
        </div>
        <!--Zapocnuvanje na redici users-->
         <div class="col-sm-12 d-flex justify-content-around">
             <p class="text-info">Libero Tempore, cum soluta nobis et eleganti optio cumqe nihil impedit</p>
             <p class="text-info"><i class="fa fa-user"></i> JOHN SMITH</p><p class="text-info"><i class="fa fa-calendar"></i>10:02</p>  
        </div><hr>
        <div class="col-sm-12 d-flex justify-content-around">
            <p class="text-info">Libero Tempore, cum soluta nobis et eleganti optio cumqe nihil impedit</p>
            <p class="text-info"><i class="fa fa-user"></i> JOHN SMITH</p><p class="text-info"><i class="fa fa-calendar"></i>10:02</p>  
       </div><hr>
       <div class="col-sm-12 d-flex justify-content-around">
        <p class="text-info">Libero Tempore, cum soluta nobis et eleganti optio cumqe nihil impedit</p>
        <p class="text-info"><i class="fa fa-user"></i> JOHN SMITH</p><p class="text-info"><i class="fa fa-calendar"></i>10:02</p>  
   </div><hr>

   <!--Button-->
   <div class="text-center">
    <button class="btn btn-info">See all posts</button>
   </div><br>

   <!--Image-->
   <div class="text-center">
    <img src="medias/paris1.jpg" width="70%" height="600px" alt="Image Alt">
   </div><br>

   <!--Text-->
   <div class="col-sm-12 text-center">
    <h1>PROJECT</h1><br>
    <p class="text-dark">Quia dolor sit ame consectetur adipisci velit sed quia nom numqam lorem dolor</p><br><hr>
   </div>

   <!--Options-->
   <div class="container-fluid h-100">
    
   
      <div class="col-sm-7 float-right">
      <div>
        <h5>PROJECT DESCRIPTION:</h5>
        <div class="jumbotron"> 
          <p>Quia dolor sit ame consectetur adipisci velit sed quia nom numqam lorem dolor
            Quia dolor sit ame consectetur adipisci velit sed quia nom numqam lorem dolor</p>
        </div><!--end jumbotron-->
      </div>
      <div>
        <h5>1-5 EXAMPLES THAT YOU LIKE:</h5>
        <div class="jumbotron"> 
          <p>www.ebay.com</p><hr>
          <p>www.ebay.com</p><hr>
          <p>www.ebay.com</p><hr>
          <p>.</p><hr>
          <p>.</p><hr>
        </div><!--end jumbotron-->
        <button class="btn btn-info col-sm-12 float-right">Send</button>
      </div>
      </div>
   
  
          
            <div class="col-sm-5">
              <label>PHOTO GALLERY?</label><br>
                <select style="width:300px; height:40px;">
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div><br><br><br>
            <div class="col-sm-5">
            <label>PHOTO GALLERY?</label><br>
                <select style="width:300px; height:40px;">
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div><br><br><br>
            <div class="col-sm-5">
              <label>PHOTO GALLERY?</label><br>
                  <select style="width:300px; height:40px;">
                      <option>YES</option>
                      <option>NO</option>
                  </select>
              </div><br><br><br>
              <div class="col-sm-5">
                <label>PHOTO GALLERY?</label><br>
                    <select style="width:300px; height:40px;">
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
   </div><!--end of container-fluid--><br><br>

   <div class="container-fluid bg-danger">
      <div class="card-deck"> 
        <div class="card">
          <div class="card-title text-dark text-center"><h5>CREATIVITY Inc.</h5></div>
          <div class="card-body text-secondary text-center">
            <p>355 Murray Hill Pwky <br> East Rotherwood <br> NJ 07073 <br><br> info@creativity.com <br> (42)455 235 634 <br></p>
          </div>
          <div class="card-footer">
            <div class="text-center d-inline-block">
              <i class="fa fa-facebook-square bg-info"></i>
              <i class="fa fa-google-plus-square bg-info"></i>
              <i class="fa fa-twitter-square bg-info"></i>
              <i class="fa fa-pinterest-square bg-info"></i>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title text-dark text-center"><h5>CREATIVITY Inc.</h5></div>
          <div class="card-body text-secondary text-center">
            <p>355 Murray Hill Pwky <br> East Rotherwood <br> NJ 07073 <br><br> info@creativity.com <br> (42)455 235 634 <br></p>
          </div>
          <div class="card-footer">
            <div class="text-center d-inline-block">
              <i class="fa fa-facebook-square bg-info"></i>
              <i class="fa fa-google-plus-square bg-info"></i>
              <i class="fa fa-twitter-square bg-info"></i>
              <i class="fa fa-pinterest-square bg-info"></i>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title text-dark text-center"><h5>CREATIVITY Inc.</h5></div>
          <div class="card-body text-secondary text-center">
            <p>355 Murray Hill Pwky <br> East Rotherwood <br> NJ 07073 <br><br> info@creativity.com <br> (42)455 235 634 <br></p>
          </div>
          <div class="card-footer">
            <div class="text-center d-inline-block">
              <i class="fa fa-facebook-square bg-info"></i>
              <i class="fa fa-google-plus-square bg-info"></i>
              <i class="fa fa-twitter-square bg-info"></i>
              <i class="fa fa-pinterest-square bg-info"></i>
            </div>
          </div>
        </div>


      </div>
   </div><!--end of container-->
         
</body>
</html>