

<div class="bg-info col-sm-12 h-100 pt-5">
    <div class="row">
    <div class="col-sm-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23964.224030830566!2d21.551893511499006!3d41.34087589744444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1smk!2smk!4v1609968832086!5m2!1smk!2smk" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-sm-7">
        <form name="myForm">
            <div class="form-group">
                <label for="ime">Име:</label>
                <input type="text" class="form-control" placeholder="Име"></input>
            </div>
            <div class="form-group">
                <label for="ime">Email:</label>
                <input type="text" class="form-control" placeholder="Email"></input>
            </div>
            <div class="form-group">
                <label for="ime">Порака:</label>
                <textarea type="text" class="form-control" placeholder="Вашите забелешки"></textarea>
            </div>
            <button class="btn btn-dark">Испрати</button>
        </form>
    </div>
    </div>

    <div class="row col-sm-12 text-white text-center" style="font-size: 50px;">
        <h2>Купувај безбедно, биди со стил!</h2>
    </div>
</div>