<style>
	#first{
		background-image: url(uploads/back.jpg);
		background-repeat: repeat-x;
	}
	#second {
		opacity: 0.8;
	}

	
	
</style>

<div id="first" class="text-center" style="border:1px solid lightgrey;">
<img id="logo" src="uploads/tvojstil24 golema.png" alt="tvojstil24" width="30%" height="50%;">
<p style="font-family:arial; font-size:50px; margin-top:-80px;"><b>Добредојде во нашата продавница</b></p>
<div>

<div id="second" class="row bg-light text-center col-sm-12 p-3 w-100">
	<div class="col-sm-4">
		<img src="uploads/product.jpg" alt="see products" width="200px" height="200px">
		<p style="font-family:arial;font-size:20px;">Разгледај ги нашите производи</p>
		<a href="#!proizvodi"><button class="btn btn-dark">Види повеќе</button></a>
	</div>
	<div class="col-sm-4">
	<img src="uploads/account.jpg" alt="see products" width="200px" height="200px">
		<p style="font-family:arial;font-size:20px;">Стани наш клиент</p>
		<a href="#!details_klienti"><button class="btn btn-dark">Регистрирај се</button></a>
	</div>
	<div class="col-sm-4">
	<img src="uploads/message.jpg" alt="see products" width="200px" height="200px">
		<p style="font-family:arial;font-size:20px;">Прати ни порака</p>
		<a href="#!kontakt"><button class="btn btn-dark">Контактирај не</button></a>
	</div>
</div>

<div class="bg-info text-center col-lg-12 p-5">
<p style="font-family:arial; color:white; font-size:30px;">Најпопуларни производи</p>

<div class="container bg-white">
	<div class="row" style="padding:15px;">
	<div class="col-lg-3">
	<div class="card" style="height:450px;">
  <img class="card-img-top" src="uploads/karirana.jpg" alt="Card image" width="25%" height="300px">
  <div class="card-body">
    <h4 class="card-title">Карирана капа</h4>
	</div>
  <div class="card-footer"><a href="#!details_naracki" class="btn btn-primary w-100">Купи</a></div>
</div>
</div>
<div class="col-lg-3">
	<div class="card" style="height:450px;">
  <img class="card-img-top" src="uploads/torbica.jpg" alt="Card image" width="25%" height="300px">
  <div class="card-body">
    <h4 class="card-title">Торбица</h4>
	</div>
  <div class="card-footer"><a href="#!details_naracki" class="btn btn-primary w-100">Купи</a></div>
</div>
</div>
<div class="col-lg-3">
	<div class="card" style="height:450px;">
  <img class="card-img-top" src="uploads/sal.jpg" alt="Card image" width="25%" height="300px">
  <div class="card-body">
    <h4 class="card-title">Кариран шал</h4>
	</div>
  <div class="card-footer"><a href="#!details_naracki" class="btn btn-primary w-100">Купи</a></div>
</div>
</div>
<div class="col-lg-3">
	<div class="card" style="height:450px;">
  <img class="card-img-top" src="uploads/ski.jpg" alt="Card image" width="25%" height="300px">
  <div class="card-body">
    <h4 class="card-title">Скијачки ракавици</h4>
	</div>
  <div class="card-footer"><a href="#!details_naracki" class="btn btn-primary w-100">Купи</a></div>
</div>
</div>

</div>
</div>
</div>

<div>
	<div class="bg-info text-white" style="font-family: arial; font-size: 16px;">
		<h3>Избери го твојот стил</h3><br>
		<p>Бидете секогаш во најмодерни со нашите производи. Ние ќе се погрижиме истите да стигнат сигурно до Вашата врата.<br>
		Доставата е бесплатна, со било кое од нашите возила.<br><br>
		Купувај безбедно, биди со стил!</p>
	</div>
</div>


<div class="bg-info w-100 text-left text-light" style="height:20px; margin-top:-20;">
	<p style="font-size:10px;">Copyright 2021 Template Created By Elizabeta Stojanoska</p>
</div>